<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header class="header">
            <a href="#" class="logo">Logo</a>
            <nav class="navbar">
                <a href="" class="menu">Sesiones</a>
                <a href="" class="menu">Contacto</a>
                <a href="login.html" class="menu">Iniciar Sesion</a>
                <a href="register.html" class="menu">Registrarse</a>
            </nav>
        </header>
    </body>
</html>
