<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header class="header">
            <a href="../index.html" class="logo">Logo</a>
            <nav class="navbar">
                <a href="" class="menu">Sesiones</a>
                <a href="" class="menu">Contacto</a>
                <a href="#" class="menu">Iniciar Sesion</a>
                <a href="register.html" class="menu">Registrarse</a>
            </nav>
        </header>
        <div class="login-box">
            <h1>Iniciar Sesion</h1>
            <form>
                <label>Correo electronico</label>
                <input type="email" placeholder="" id="email"/>
                <label>Contraseña</label>
                <input type="password" placeholder="" id="password"/>
            </form>
            <button id="submitBtn">Iniciar Sesion</button>
            <div class="login">
                ¿No tienes una cuenta? <a href="register.html">Crea una cuenta aquí</a>
            </div>
        </div>
        <script src="/js/login.js"></script>
    </body>
</html>
